# General
.DS_Store
.vscode
**/node_modules
**/yarn-error.log
**/dist

# dango-blocks
packages/dango-blocks/dart_compressed.js
packages/dango-blocks/javascript_compressed.js
packages/dango-blocks/lua_compressed.js
packages/dango-blocks/php_compressed.js
packages/dango-blocks/python_compressed.js
packages/dango-blocks/accessible/*
packages/dango-blocks/msg/js/*
!packages/dango-blocks/msg/js/en.js
packages/dango-blocks/msg/json/*
!packages/dango-blocks/msg/json/en.json
packages/dango-blocks/*compiler*.jar
packages/dango-blocks/chromedriver
packages/dango-blocks/blockly_*.js
packages/dango-blocks/blocks_*.js

# scratch-vm
packages/dango-vm/playground
packages/dango-vm/benchmark
packages/dango-vm/translations