@import "../../css/units.css";

.container {
    position: relative;
}

.select {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 2.25rem;
    background-color: var(--ui-white);
    border: 1px solid var(--ui-black-transparent);
    border-radius: 0.75rem;
    transition: 0.25s ease-out;
    min-width: 2.25rem;
}

[theme='dark'] .select {
    background-color: var(--ui-white);
    border: 1px solid var(--outline);
}

.select:hover {
    border-color: var(--motion-primary);
}

.select-focus {
    border-color: var(--motion-primary);
    box-shadow: 0 0 0 0.25rem var(--motion-transparent);
}

.value {
    padding: 0.5rem;
}

.indicator {
    display: flex;
    position: relative;
    align-self: stretch;
}

.image {
    padding: 0.5rem;
    transition-duration: 0.3s;
}

[theme='dark'] .image {
    filter: invert(1);
}

.image-rotate {
    transform: rotate(180deg);
}

.menu {
    position: absolute;
    width: 100%;
    margin-top: 0.25rem;
    background: var(--ui-white);
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    box-shadow: 0 0 3px 2px var(--ui-black-transparent);
    z-index: 1; /* what the fuck. why translateX modifies z-index?! */
}

.option {
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
}

.option-select {
    color: var(--motion-primary);
    font-weight: bold;
}

.option-focus {
    background-color: #deebff;
}

[color='material'] .option-focus {
    background-color: var(--ui-tertiary);
}

.dummy-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
}
