@import "../../css/units.css";

.tag-button {
    padding: .625rem 1rem;
    background: var(--motion-primary);
    border-radius: 1.375rem;
    color: var(--ui-white);
    height: $library-filter-bar-height;
}

.tag-button-icon {
    max-width: 1rem;
    max-height: 1rem;
}

.active {
    background: var(--data-primary);
}
