.container {
    width: 100%;
}
.waveform-path {
    /*
        This color is lighter than sound-primary, but
        cannot use alpha because of overlapping elements.
    */
    fill: hsl(300, 54%, 72%);
    stroke: var(--sound-tertiary);
}
.baseline {
    stroke: var(--sound-tertiary);
}
